<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag @movie.image.url(:medium), class: "show-picture" %>
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td><strong>Title:</strong></td>
								<td><%= @movie.title %></td>
							</tr>
							<tr>
								<td><strong>Description:</strong></td>
								<td><%= @movie.description %></td>
							</tr>
							<tr>
								<td><strong>Runtime:</strong></td>
								<td><%= @movie.runtime %> minutes</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render "shared/comment", object: @movie %>
<%= render "shared/comment_form", object: @movie %>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
