<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="<%= authenticated_root_path %>">MovieReviews</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="<%= movies_path %>">Movies</a></li>
				<li><a href="<%= actors_path %>">Actors</a></li>
				<li><a href="#">What's hot?</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li><%= nav_title(:navtitle) %></li>
					<li><%= link_to "Account", edit_user_registration_path %></li>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Sign Up", new_user_registration_path, class: "active" %></li>
					<li><%= link_to "Sign In", new_user_session_path, class: "active" %></li>
				<% end %>
			</ul>
			<%= form_tag search_index_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
				<p>
					<%= text_field_tag :index, params[:search], class: "form-control" %>
					<%= submit_tag "Search", name: nil, class: "btn btn-default" %>
				</p>
			<% end %>
		</div>
	</div>
</nav>